.env
.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class

vector_db/
downloads/
downloades/
outputs/
logs/
.local_bin/

*.wav
*.mp3
*.mp4
*.m4a
*.webm
*_chunk_*.wav
*_converted.wav

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db
